.login-container {
    background-color: white;
    padding: 20px;
    border: 1px #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1),
        0 2px 4px rgba(0, 0, 0, 0.08);

}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;


}

h1 {

    color: #D35400;
    margin-bottom: 100px;

}

h2 {
    color: #7F8C8D;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #D35400;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #D35400;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bolder;
}

.register {

    background-color: #D35400;
    color: white;
    font-weight: bolder;

}

button:hover {
    background-color: #F39C12;
    color: white;
    border: none;
}

@media (max-width: 768px) {

    h1 {
        font-size: 24px;
        text-align: center;
    }

    h2 {

        font-size: 18px;

    }

    button {
        font-size: 16px;
        padding: 12px;
    }

    .login-container {

        width: 200px;

    }
}